**/.DS_Store
**/Brewfile.lock.json
**/plugins
**/plugin
**/.zcompdump*
**/.zcompdump
**/.zcompcache
**/history
**/.zsh_history
**/.zsh_sessions
**/completions/*
**/.netrwhist
**/.zshrc-local
nvim/lazy-lock.json
