**/.DS_Store
**/Brewfile.lock.json
**/.zcompdump*
**/.zcompdump
**/.zcompcache
**/history
**/.zsh_history
**/.zsh_sessions
**/completions/*
**/.netrwhist
**/.zshrc-local
facebook-bot/config/*
facebook-bot/config/*
**/tmp
ansible/tmp/*
