@define-color foreground #cdd6f4;
@define-color background rgba(24, 24, 37, 0.7);
@define-color skyblue #89dceb;
@define-color blue #89b4fa;
@define-color red #f38ba8;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color green #a6e3a1;

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 15px;
  min-height: 0;
  margin: 0px;
}

#waybar {
  background: transparent;
  color: @foreground;
  margin: 0px;
}

#workspaces {
  background: @background;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0.4rem;
}

#workspaces button {
  color: @foreground;
  border-radius: 5px;
}

#workspaces button.active {
  color: @skyblue;
  border-radius: 5px;
}

#workspaces button:hover {
  color: #85c1dc;
  border-radius: 5px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#idle_inhibitor {
  background-color: @background;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  color: @foreground;
  /* border-radius: 0px 5px 5px 0px; */
}

#clock {
  color: @foreground;
  border-radius: 5px;
  margin-right: 1rem;
  font-weight: 900;
}


#pulseaudio {
  color: @red;
  border-radius: 10px 0px 0px 10px;
  margin-left: 1rem;
}

#idle_inhibitor {
	border-radius: 0px;
	margin: 0px;
}

#tray {
  color: @blue;
  border-radius: 0px 10px 10px 0px;
  margin-right: 1rem;
}

#cpu {
  color: @lavender;
  border-radius: 10px 0px 0px 10px;
}

#memory {
  color: @peach;
  margin-right: 1rem;
  border-radius: 0px 10px 10px 0px;
}

#battery {
  border-radius: 10px 0px 0px 10px;
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

#backlight {
  color: #e5c890;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#network {
  margin-right: 1rem;
  border-radius: 0px 10px 10px 0px;
}

#custom-lock {
  border-radius: 10px;
  color: @yellow;
  margin-right: 0.4rem;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: #e78284;
}
