@define-color foreground #cdd6f4;
@define-color background rgba(24, 24, 37, 0.7);

* {
  font-family: JetBrains Mono;
  font-size: 15px;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
  color: @foreground;
  background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  min-width: 12px;
  min-height: 25px;
  margin: 0 7.5px;
}

.modules-left {
  padding: 4px;
  margin: 2px 8px;
  background-color: @background;
  border-radius: 10;
}

.modules-right {
  margin: 0 2px;
}

#clock {
  background-color: @background;
  margin: 2px 8px;
  border-radius: 10;
  padding: 0 8px;
}

#workspaces button {
  padding: 0 5px;
}

#battery {
  /* background-color: #ffffff; */
  /* color: #000000; */
  margin-right: 10px;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-power {
  font-size: 23px;
}

#pulseaudio {
  /* background-color: #f1c40f; */
  /* color: #000000; */
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

/* #tray { */
/*   background-color: red; */
/* } */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  /* background-color: #cf5700; */
}

#privacy-item.audio-in {
  /* background-color: #1ca000; */
}

#privacy-item.audio-out {
  /* background-color: #0069d4; */
}
