[Desktop Entry]
Version=1.0
Name=Weather
Comment=Get weather
Exec=/home/michael/.local/scripts/weather --launch
Icon=/home/michael/.local/share/applications/icons/weather.png
Terminal=false
Type=Application
StartupNotify=true
