[Unit]
Description=Battery Monitor Service
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/scripts/battery-monitor
Environment=DISPLAY=:0
