[Unit]
Description=Tmux kill sessions timer
Requires=tmux-kill-sessions.service

[Timer]
OnBootSec=2h
OnUnitActiveSec=2h
AccuracySec=10sec

[Install]
WantedBy=timers.target
